*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 70%;
}
 .big{
    position: relative;
    width:1000w;
    height: 100vh;





 
}
.container{
    width:100%;
    height: 100vh;
    /* background-color: rgb(22, 23, 24); */
    background-image: url('image/licensed-image.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:40rem;
    background-color: rgb(28, 26, 12);
    /* height: 30vh; */
}
.bio{
    display: flex;
    position: relative;
    padding: 3rem 3rem 8rem 3rem;
    border-radius: 1rem 1rem 1rem 1rem  ;
    background-color: rgb(162, 205, 226);

}
.bt {
    color:rgb(22, 15, 15);
    position: absolute;
    bottom: -2.5rem;
    width: 20rem;
    height:6rem ;
    text-transform: uppercase;
    align-items: center;
    right: 10rem;
    border-radius: 5rem;
    background-color: rgb(237, 235, 194);
    cursor: pointer;
    outline: none;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.img{
    width: 12rem;
    height: 12rem;
    margin-right: 3rem;
}
.img-m{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}
h4{
    margin-top: 3rem;
    font-size: 3rem;
}
p{
      font-size: 1.6rem;
  
}
.personInfo{
    color: white;
    text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.3);

}